{% load static %}
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>AEROPORT INTERNATIONAL DE N'DJILI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href=" {% static 'assets/css/main.css' %} " />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">AEROPORT DE NDJILI</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Accueil</a></li>
					<li><a href="{% url 'reservation' %} ">Réservation</a></li>
					<li><a href="#">Nous contactez</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>AEROPORT INTERNATIONAL DE N'DJILI</h1>
					<p>Bienvenue à Kinshasa.</p>
				</div>
				<video autoplay loop muted playsinline src=" {% static 'images/banner.mp4' %} "></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>NOS SERVICES</h2>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Réservation</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-home"><span class="label">Icon</span></a>
									<h3>Salon VIP</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-phone"><span class="label">Icon</span></a>
									<h3>Call Center</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Statistique</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-tasks"><span class="label">Icon</span></a>
									<h3>Pèse Bagage</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-shield"><span class="label">Icon</span></a>
									<h3>Police et Securite</h3>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
							</div>
						</section>
					</div>
				</div>
			</section>



		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					
					<div class="copyright">
						&copy; Ondiyo - Kiamfu - Ngalula - Luzibu - Manzako.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src=" {% static 'assets/js/jquery.min.js' %} "></script>
			<script src=" {% static 'assets/js/browser.min.js' %} "></script>
			<script src=" {% static 'assets/js/breakpoints.min.js' %} "></script>
			<script src=" {% static 'assets/js/util.js' %} "></script>
			<script src=" {% static 'assets/js/main.js' %} "></script>

	</body>
</html>