{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>AEROPORT INTERNATIONAL DE N'DJILI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href=" {% static 'assets/css/main.css' %} " />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">AEROPORT DE NDJILI</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Accueil</a></li>
					<li><a href="#">Réservation</a></li>
					<li><a href="generic.html">Nous contactez</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Réservation</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							
							<div class="col-12 col-12-medium">

								

								<!-- Form -->
									<h3>Vol</h3>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>N°</th>
													<th>Identification</th>
													<th>Destination</th>
													<th>compagnie Aerienne</th>
													<th>Heure départ</th>
													<th>Nombre Escale</th>
													<th>Heure d'arrivé</th>
													<th>Prix</th>
													<th>Choix</th>
												</tr>
											</thead>
											<tbody>
												
												<tr>
													<td>1</td>
													<td>Vol 240</td>
													<td>KINDU</td>
													<td>EWABORA</td>
													<td>18h00 GMT</td>
													<td>0</td>
													<td>18H00 GMT</td>
													<td>80 $</td>
													<td>
														<div class="col-4 col-12-small">
															<input type="radio" id="radio-beta" name="radio">
															<label for="radio-beta"></label>
														</div>
													</td>
												</tr>


												
												<tr>
													<td>1</td>
													<td>Vol 240</td>
													<td>KINDU</td>
													<td>EWABORA</td>
													<td>18h00 GMT</td>
													<td>0</td>
													<td>18H00 GMT</td>
													<td>80 $</td>
													<td>
														<div class="col-4 col-12-small">
															<input type="radio" id="radio-alpha" name="radio">
															<label for="radio-alpha"></label>
														</div>
													</td>
												</tr>


												<tr>
													<td>1</td>
													<td>Vol 240</td>
													<td>KINDU</td>
													<td>EWABORA</td>
													<td>18h00 GMT</td>
													<td>0</td>
													<td>18H00 GMT</td>
													<td>80 $</td>
													<td>
														<div class="col-4 col-12-small">
															<input type="radio" id="radio-gamma" name="radio">
															<label for="radio-gamma"></label>
														</div>
													</td>
												</tr>

												<tr>
													<td>1</td>
													<td>Vol 240</td>
													<td>KINDU</td>
													<td>EWABORA</td>
													<td>18h00 GMT</td>
													<td>0</td>
													<td>18H00 GMT</td>
													<td>80 $</td>
													<td>
														<div class="col-4 col-12-small">
															<input type="radio" id="radio-ceta" name="radio">
															<label for="radio-ceta"></label>
														</div>
													</td>
												</tr>
												<tr>
													<td>1</td>
													<td>Vol 240</td>
													<td>KINDU</td>
													<td>EWABORA</td>
													<td>18h00 GMT</td>
													<td>0</td>
													<td>18H00 GMT</td>
													<td>80 $</td>
													<td>
														<div class="col-4 col-12-small">
															<input type="radio" id="radio-re" name="radio">
															<label for="radio-re"></label>
														</div>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="8"></td>
													<td>360.00</td>
												</tr>
											</tfoot>
										</table>
									</div>

									

							</div>
						</div>
					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					
					<div class="copyright">
						&copy; Ondiyo - Kiamfu - Ngalula - Luzibu - Manzako
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src=" {% static 'assets/js/jquery.min.js' %} "></script>
			<script src=" {% static 'assets/js/browser.min.js' %} "></script>
			<script src=" {% static 'assets/js/breakpoints.min.js' %} "></script>
			<script src=" {% static 'assets/js/util.js' %} "></script>
			<script src=" {% static 'assets/js/main.js' %} "></script>

	</body>
</html>