{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>AEROPORT INTERNATIONAL DE N'DJILI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<link rel="stylesheet" href=" {% static 'assets/css/main.css' %} " />
		
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">AEROPORT DE NDJILI</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href=" {% url 'index' %}">Accueil</a></li>
					<li><a href="#">Réservation</a></li>
					<li><a href="#">Nous contactez</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Réservation</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							
							<div class="col-12 col-12-medium">

								

								<!-- Form -->
									<h3>Formulaire</h3>
									<form method="post" action="#">
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall">
												<h4>Nom :</h4>
												<input type="text" name="nom" id="name" value="" placeholder="Name" />
											</div>
											<div class="col-6 col-12-xsmall">
												<h4>Prenom :</h4>
												<input type="text" name="prenom" id="email" value="" placeholder="Prenom" />
											</div>
											
											<!-- Break -->
											<div class="col-6 col-12-xsmall">
												<h4>Sexe :</h4>
												<select name="category" id="category">
													<option value="">- Choisir -</option>
													<option value="M">Masculin</option>
													<option value="F">Féminin</option>
													
												</select>
											</div>
											<div class="col-6 col-12-xsmall">
												<h4>Téléphone :</h4>
												<input type="text" name="telephone" id="" value="" placeholder="Téléphone" />
											</div>
											<div class="col-6 col-12-xsmall">
												<h4>Commune :</h4>
												<select name="category" id="category">
													<option value="">- Choisir -</option>
													<option value="M">Masculin</option>
													<option value="F">Féminin</option>
													
												</select>
											</div>
											<div class="col-6 col-12-xsmall">
												<h4>Adresse :</h4>
												<input type="text" name="adresse" id="" value="" placeholder="Adresse" />
											</div>
											
											
											<!-- Break -->
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="Valider" class="primary" /></li>
													<li><input type="reset" value="Annuler" /></li>
												</ul>
											</div>
										</div>
									</form>

									

							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					
					<div class="copyright">
						&copy; Ondiyo - Kiamfu - Ngalula - Luzibu - Manzako
					</div>
				</div>
			</footer>

		<!-- Scripts -->
		<script src=" {% static 'assets/js/jquery.min.js' %} "></script>
			<script src=" {% static 'assets/js/browser.min.js' %} "></script>
			<script src=" {% static 'assets/js/breakpoints.min.js' %} "></script>
			<script src=" {% static 'assets/js/util.js' %} "></script>
			<script src=" {% static 'assets/js/main.js' %} "></script>
			

	</body>
</html>